/* 앨범시작~ */
.album-title {
  width: 90%;
  height: 250px;
  margin: 20px auto 0;
  text-align: center;
  padding-top: 20px;
}
.album-title .title-p1 {
  font-weight: bold;
  font-size: 25px;
}
.album-title .title-p2 {
  font-weight: 900;
  font-size: 60px;
  color: rgba(255, 131, 141, 1);
}
.album-title .title-p3 img {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: 3px solid pink;
  border-radius: 50%;
}

.album-header {
  margin: 0 auto 5px;
  display: flex;
  width: 90%;
}
.album-header div {
  border-bottom: 5px solid rgba(244, 245, 249, 1);
  width: 25%;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.album-header div:hover {
  cursor: pointer;
  color: rgba(255, 131, 141, 1);
}
.choice {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  color: #ff000085;
}
.choice div {
  z-index: 800;
  width: 25%;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  margin-right: 3%;
  border-bottom: 3px solid rgba(255, 131, 141, 0.3);
  border-bottom-left-radius: 70%;
  z-index: 2;
  /* border-bottom-right-radius: 100%; */
}
.choice div:hover {
  cursor: pointer;
}

.album-itembox {
  width: 90%;
  /* height: 600px; */
  /* background-color: rgba(244, 245, 249, 1); */
  margin: 10px auto 0;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
}
.album-itembox ul {
  padding: 0;
}

.album-itembox ul li {
  float: left;
  width: 24.5%;
  height: 210px;
  margin: 0 0.2%;
  margin-bottom: 0.4%;
  cursor: pointer;
  list-style: none;
  /* object-fit: cover; */
}

@media (max-width: 1080px) {
  .album-itembox ul li {
    height: 150px;
    /* width: 100%; */
  }
}
@media (max-width: 768px) {
  .album-itembox ul li {
    height: 100px;
  }
}

.album.itembox li:nth-child(4n + 1) {
  clear: both;
}

.album-itembox li .img_place {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 앨범추가 팝업 */
.album-popup {
  width: 400px;
  height: 450px;
  border: none;
  display: none;
  position: absolute;
  border-radius: 10px;
}
.album-popup .pop-title {
  width: 100%;
  height: 15%;
  background-color: rgba(255, 131, 141, 1);
  border-radius: 10px 10px 0 0;
  text-align: center;
  display: flex;
  padding-top: 18px;
  box-sizing: border-box;
}
.album-popup .pop-title .pt1 {
  width: 84%;
  padding-left: 60px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.album-popup .pop-title .pt2 {
  width: 16%;
}
.album-popup .pop-title .pt2 img {
  width: 30px;
  cursor: pointer;
}
.album-popup .pop-add {
  height: 57%;
  background-color: #fff;
}
.album-popup .pop-txt {
  height: 10%;
  background-color: #fff;
}
.album-popup .pop-txt input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
  box-sizing: border-box;
}
.album-popup .pop-btn {
  height: 16%;
  text-align: center;
  padding-top: 5px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding-bottom: 7px;
}

.album-popup .pop-btn button {
  border: none;
  color: white;
  background-color: rgba(255, 131, 141, 1);
  width: 120px;
  height: 35px;
  border-radius: 8px;
  font-weight: bold;
}

.popup-mask {
  /* 팝업 배경 css */
  position: fixed;
  width: 100%;
  height: 1000px;
  top: 0px;
  left: 0px;
  display: none;
  background-color: #000;
  opacity: 0.8;
}
/* 사진 클릭시 팝업 */
.pic-popup {
  width: 800px;
  height: 750px;
  border: none;
  display: none;
  position: absolute;
  border-radius: 10px;
}

.pic-popup .pic-header {
  width: 100%;
  height: 10%;
  background-color: rgba(255, 131, 141, 1);
  border-radius: 10px 10px 0 0;
  text-align: center;
  display: flex;
  padding-top: 22px;
  box-sizing: border-box;
}
.pic-popup .pic-header .pic-d1 {
  width: 77%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.pic-popup .pic-header .pic-d2 {
  width: 22%;
  padding-top: 3px;
}
.pic-popup .pic-header .pic-d2 img {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.pic-popup .pic-main {
  width: 100%;
  height: 90%;
  background-color: white;
}

.pic-header .pic-d2 img:hover {
  cursor: pointer;
}
